{% extends "master.html" %}
{% load staticfiles %}


{% block body-class %}demo{% endblock %}


{% block content %}
<article class="content">
    <img class="demo__logo-img" src="{% static 'img/maykinmedia_logo.png' %}">

    <h1 class="demo__title">Zaaktypecatalogus</h1>

    <h2>Welkom</h2>

    <section>
        <ul>
            <li>Ga naar de <a href="{% url 'admin:index' %}">beheeromgeving</a>.</li>
            <li>Ga naar de <a href="{% url 'api:api-schema' version=1 %}">API documentatie</a>.</li>
        </ul>

        <p>Tip: Maak <a href="{% url 'admin:oauth2_provider_application_add' %}">een applicatie aan</a> (met Authorization grant type:
client credentiels) om toegang te krijgen tot de API.</p>
    </section>
</article>
{% endblock %}
