{% extends "vng_api_common/index.html" %}


{% block extra_content %}
  <h2>Extra</h2>

  <div class="row justify-content-md-center">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fab fa-python"></i> Catalogus importeren</h5>
          <p class="card-text">Catalogus data van vng.cloud importeren in eigen catalogus.</p>
          <a href="{% url 'dumpdata' %}" class="btn btn-primary">Catalogus importeren</a>
        </div>
      </div>

    </div>

  </div>
  <p></p>

{% endblock %}


{% block admin_link %}
{{ block.super }}
<p>
    <a href="{% url 'view-config' %}" class="btn btn-sm btn-secondary">
        <i class="fa fa-info-circle"></i>
        Bekijk configuratie
    </a>
</p>
{% endblock admin_link %}
